
.Membership {
  justify-content: center;
  align-items: center;
  /*height: 100vh; /* Använder hela vyhöjden för att centrera innehållet vertikalt (ändrat vh för att ha mer margin-bottom)*/
  padding: 100px 100px; /* Lägg till toppmarginal om headern döljer innehållet */
  color: white; /* Vit textfärg */
  text-align: center;
  font-size: xx-large;
}

.Membership i, p {
  display: inline-block;
}

.Membership i {
  font-size: 18px;
  color:#f09401;
}

.Membership p {
  font-size: 16px;
  margin: 30px 0 30px 0;
  color: #fff;
  padding-left: 5px;
}

.Membership .boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;

}

.Membership .box h4 {
  font-size: 26px;
  text-align: left;
  text-transform: none; /* Changed from capitalize to none */
  padding-top: 10px;
}


.Membership .box p{
  font-size: 15px; 
  text-align: left;
  margin-top: 4px!important;
  text-transform: none !important;
}

.Membership .box {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 570px;
  margin: 10px;
  float: left;
  text-transform: none !important;
}

.Membership .box .primaryButton {
  background-color: #f09401;
  padding: 12px 28px;
  margin-top: 30px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  box-sizing: border-box;
  text-transform: uppercase;
}

.Membership .box  .primaryButton:hover {
  background-color: #fff;
  color:#f09401;
  cursor: pointer;
}

.Membership .box .secondaryButton {
  padding: 12px 28px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 1px solid #f09401;
  background: transparent;
  color: #fff;
  width: 100%;
}

.Membership .box  .secondaryButton:hover {
  background-color: #f09401;
  color:#000;
  cursor: pointer;
}

.Membership .box ul{
  padding:10px 0 0 20px ;
}

.Membership .box li{
  font-size: 15px;
  text-align: left;
  padding-top: 7px;
  color: #b1b2b3;
  text-transform: none;
}

.box li {
  text-transform: none;  /* This will ensure list items are not automatically capitalized */
}

.Membership .box li::marker {
  color: #f09401;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row img {
  object-fit: cover;
  border-radius: 15px;
}

img {
  border-radius: 15px;
}

.Membership .box .primaryButton {
  background-color: #f09401;
  padding: 12px 28px;
  margin-top: 40px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  box-sizing: border-box;
  width: 100%;
}

.Membership .box  .primaryButton:hover {
  background-color: #fff;
  color:#f09401;
}


/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Membership {
    padding: 110px 100px;
    max-width: 2500px;
  }

  .Membership .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .Membership .box {
    width: calc(48% - 10px);
    margin-bottom: 20px;
  }
}

/* Large Devices (Small Desktops/Laptops): Adjust styles for screens between 1025px and 1279px wide */
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  .Membership {
    padding: 100px 150px;
  }
}

/* Extra Large Devices (Large Desktops): Adjust styles for screens between 1280px and 1920px wide */
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .Membership {
     padding: 100px 200px;
  }
}

/* Ultra Large Devices: Adjust styles for screens wider than 1921px */
@media only screen and (min-width: 1921px) {
  .Membership {
     padding: 100px 400px;
  }
}
.active-link {
  color: #f09401; /* Exempel: Gör den aktiva fliken orange */
  background-color: #f09401;
}