
/* Our gym section starts here */
.ourGym {
  justify-content: center;
  align-items: center;
  /*height: 100vh; /* Använder hela vyhöjden för att centrera innehållet vertikalt (ändrat vh för att ha mer margin-bottom)*/
  padding: 100px 200px; /* Lägg till toppmarginal om headern döljer innehållet */
  color: white; /* Vit textfärg */
  text-align: center;
  font-size: xx-large;
  flex-wrap: wrap;
}

.ourGym p {
  font-size: 18px;
  line-height: 26px;
  margin: 30px 0 30px 0;
}

.ourGym img {
  object-fit: cover;
  max-width: 100%;
}

.ourGym .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ourGym .box h4 {
  font-size: 28px;
  text-align: left;
  text-transform: capitalize;
  padding-top: 10px;
}

.ourGym .box p {
  font-size: 18px;
  text-align: left;
  margin-top: 4px!important;
  color: #b1b2b3;
}

.ourGym .box.info {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.ourGym .box img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px;
}

.box.register {
  border-radius: 20px;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin: 10px;
  justify-content: center;
  position: relative;
  background-color: #1e1e1e;
}

.box.register:hover {
  background-image: url("../images/ambitious_studio.jpg")!important;
  transition: ease 1s!important;
  background-size: cover;
}

.ourGym .box .primaryButton {
  background-color: #f09401;
  color: #444;
  padding: 16px 40px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 600;
  align-self: center;
  margin-top: 180px;
  z-index: 999;
}

.ourGym .box  .primaryButton:hover {
  background-color: #fff;
  color:#f09401;
  cursor: pointer;
}

.ourGym video {
  width: 100%;
  max-width: 100%;
  border-radius: 25px!important;
}
/* Our gym section ends here */


/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .ourGym {
     padding: 110px 100px;
     max-width: 2500px;
  }

  .ourGym .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .ourGym .boxes .box {
    width: calc(48% - 10px);
    margin-bottom: 20px;
  }
}

/* Large Devices (Small Desktops/Laptops): Adjust styles for screens between 1025px and 1279px wide */
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  .ourGym {
    padding: 100px 150px;
  }
}

/* Extra Large Devices (Large Desktops): Adjust styles for screens between 1280px and 1920px wide */
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .ourGym {
     padding: 100px 200px;
  }
}

/* Ultra Large Devices: Adjust styles for screens wider than 1921px */
@media only screen and (min-width: 1921px) {
  .ourGym {
     padding: 100px 400px;
  }
}
.active-link {
  color: #f09401; /* Exempel: Gör den aktiva fliken orange */
  background-color: #f09401;
}