/* Importing Google Fonts Nunito with specified weights for better rendering */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

/* Global reset */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* Setting base font size to 62.5% for easier rem calculations and enabling smooth scrolling */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

/* Styling scrollbar */
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f09401;
}

/* Styling body */
body {
  background: #000;
}

/* Styling sections */
section {
  padding: 5rem 9%;
}

/* Styling headings */
.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #9CD02F;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

/* Styling buttons */
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #9CD02F 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Header starts here */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #303030;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color: #f09401;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #f09401;
}
/* Header ends here */
 
/* Trainers section stars here */
.Trainers {
  justify-content: center;
  align-items: center;
  padding: 100px 100px; 
  color: white; 
  text-align: center!important;
  font-size: xx-large;
  flex-wrap: wrap;
}
.Trainers h4 {
  text-align: left!important;
  font-size: 26px;
}

.Trainers .info {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
  text-align: left;
  color: #b1b2b3;
}

.Trainers .row {
  display: flex;
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;
}

.Trainers .column {
  flex: 1;
  padding: 30px;
  display: grid;
  align-items: center!important;
  align-content: center!important;
}

.Trainers .column img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px;
  max-height: 570px;
  vertical-align: middle;
}
/* Trainers section ends here */

/* Footer starts here */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 5% 0;
  z-index: 10000;
  background: #303030;
  height: 130px;
}

.footer .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.footer .logo span {
  color: #f09401;
}

.footer .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.footer .navbar a:hover {
  background: #f09401;
}

.footer p{
  color: #fff;
  margin-top: 5px;
}

.footer h2{
  text-align: center;
  color: #f09401;
  margin-top: auto;
}

.hours-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto; 
  grid-gap: 5px; 
  text-align: left; 
}

h2 {
  grid-column: 1 / -1; 
}

.monday, .tuesday, .wednesday {
  justify-self: start; 
}

.thursday, .friday, .saturday {
  justify-self: left; 
}

.sunday {
  grid-column: 1 / -1; 
  justify-self: center; 
}

/* Grid for location */
.location-grid{
  text-align: center;
  display: grid;
}


/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Trainers {
    padding: 120px 40px; 
  }

  .Trainers .row {
    flex-direction: column;
  }
  
  .Trainers .column {
   flex-direction: row!important;
  }

  .Trainers h4 {
   margin-top: -30px;
  }
  
  .Trainers .info {
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
    text-align: left;
    color: #b1b2b3;
  }
  
  .Trainers .column img {
    width: 100%!important;
  }
}