
/* Trainers section stars here */
.Trainers {
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center!important;
  font-size: xx-large;
  flex-wrap: wrap;
  width: 100%;
}
.Trainers h4 {
  text-align: left!important;
  font-size: 26px;
}

.Trainers .info {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
  text-align: left;
  color: #b1b2b3;
}

.Trainers .row {
  display: flex;
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;
}

.Trainers .row  h6{
  text-align: left!important;
  text-transform: uppercase;
  font-size: 14px;
  color: #f09401;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.Trainers .column {
  flex: 1;
  padding: 30px;
  display: grid;
  align-items: center!important;
  align-content: center!important;
}

.Trainers .column img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px;
  max-height: 570px;
  vertical-align: middle;
}
/* Trainers section ends here */



@media (max-width: 1920px) {
  .container {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}


.active-link {
  color: #f09401; /* Exempel: Gör den aktiva fliken orange */
  background-color: #f09401;
}